* {
     margin: 2;
     padding: 4; 
     box-sizing: border-box;
}

body {
     font-family: Helvetica, Arial, sans-serif;
}


header {
    padding: 20px 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header h1 {
    font-size: 22px;
    font-weight: lighter;
    color: #ae0dbd;
}
.btn {
    background: #ae0dbd;
    color:antiquewhite;
}

.quiz-introduction {
    text-align: center;
}

.question-section {
    text-align: center;
}

.finish {
    text-align: center;
}

footer {
    background: #ae0dbd;
    text-align: center;
    color: antiquewhite;
    width: 100%;
}